* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Open Sans;
}

/*a:link {
    color: #888;
}

a:visited {
    color: #888;
}

a:hover {
    color: #333;
}

a:active {
    color: #333;
}*/

div#chat {
	height: 300px;
	width: 100%;
	border: 1px solid #E5E5E5;
    border-radius: 3px;
	margin: 5px 0px;
    padding: 3px 3px;
    overflow: auto;
    overflow-x: hidden;
}

.table img {
	border: solid 1px #A9A9A9;
	border-radius: 5px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.overlay {
 	position:absolute;
	display:none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.5);

    /* stretch to screen edges */
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
}

.popup {
	box-shadow: 0px 0px 25px #444;
    position: absolute;
    width: 400px;
    height: 250px;
    display: none;
    background-color: white;
    text-align: center;

    /* center it ? */
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -125px;
}

.addglyphicon {
  top: 0.9em;
}

.image-thumb, .image-thumb img {
    position:relative;
    width:42px;
    height:42px;
}
.image-their {
    display:none;
    position:absolute;
    bottom:0px;
    left:0px;
    width:42px;
    height:42px;
    background-image:url(../images/placeholder.png);
}

.image-own {
    display:none;
    position:absolute;
    bottom:0px;
    left:0px;
    width:42px;
    height:42px;
    background-image:url(../images/placeholder.png);
}
.image-thumb:hover .image-their {
    display:block;
}

.image-thumb:hover .image-own {
    display:block;
}
.image-own:hover {
    background-image:url(../images/hover_trash.png);
}
.image-their:hover {
    background-image:url(../images/hover_copy.png);
}

.timeline-highlighted  { background-color: #9787BE }
.timeline-highlighted0 { background-color: #C896BF }
.timeline-highlighted1 { background-color: #8AD2F4 }
.timeline-highlighted2 { background-color: #94B1DC }
.timeline-highlighted3 { background-color: #D5E39F }
.timeline-highlighted4 { background-color: #94CA9B }
.timeline-highlighted5 { background-color: #FACE91 }
.timeline-highlighted6 { background-color: #EF9DA2 }
